html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.black{
  background: black;
  width: 100px;
  height: 100px;
}
.white{
  background: white;
  width: 100px;
  height: 100px;
}

.container{
  background-color: gray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabuleiro{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  max-height: 800px;
}